Repository YCPRadioTelescope/YCP-RT-ControlRoom, pull requests merged in 2020-02, with the labels that each got.

#74 Update mcu controland sim
  ControlRoomApplication/ControlRoomApplication/Constants/MCUConstants.cs
  ControlRoomApplication/ControlRoomApplication/ControlRoomApplication.csproj
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/ConversionHelper.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/AbstractPLCDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/ProductionMCUDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/ProductionPLCDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/ScaleModelPLCDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/SimulationPLCDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/TestPLCDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/RadioTelescopeControllers/RadioTelescopeController.cs
  ControlRoomApplication/ControlRoomApplication/Entities/PLC/PLCCommandAndQueryTypeEnum.cs
  ControlRoomApplication/ControlRoomApplication/GUI/MainForm.cs
  ControlRoomApplication/ControlRoomApplication/Main/Program.cs
  ControlRoomApplication/ControlRoomApplicationTest/EntitiesTests/ControlRoomTest.cs
  ControlRoomApplication/ControlRoomApplicationTest/EntityControllersTests/RadioTelescopeControllerManagementThreadTest.cs
Labels: PLC

#113 Database connection
  ControlRoomApplication/ControlRoomApplication/Constants/MiscellaneousConstants.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/AASharpControllers/CoordinateCalculationController.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/ControlRoomController/RadioTelescopeControllerManagementThread.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/AbstractPLCDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/ProductionPLCDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/ScaleModelPLCDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/SimulationPLCDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/RadioTelescopeControllers/RadioTelescopeController.cs
  ControlRoomApplication/ControlRoomApplication/Database/Operations/DatabaseOperations.cs
  ControlRoomApplication/ControlRoomApplication/Entities/Appointment/Appointment.cs
  ControlRoomApplication/ControlRoomApplication/GUI/MainForm.cs
  ControlRoomApplication/ControlRoomApplication/GUI/RTControlForm.cs
  ControlRoomApplication/ControlRoomApplicationTest/DatabaseOperationsTests/DatabaseOperationsTests.cs
  ControlRoomApplication/ControlRoomApplicationTest/DatabaseOperationsTests/RTDbContextTests.cs
  ControlRoomApplication/ControlRoomApplicationTest/EntitiesTests/AppointmentTest.cs
  ControlRoomApplication/ControlRoomApplicationTest/EntitiesTests/HeartbeatInterfaceTests/ConcreteHeartbeatTestClass.cs
  ControlRoomApplication/ControlRoomApplicationTest/EntitiesTests/HeartbeatInterfaceTests/HeartbeatInterfaceTest.cs
  ControlRoomApplication/ControlRoomApplicationTest/EntitiesTests/HeartbeatTrackerContainerTest.cs
  ControlRoomApplication/ControlRoomApplicationTest/EntityControllersTests/ControlRoomControllerTest.cs
  ControlRoomApplication/ControlRoomApplicationTest/EntityControllersTests/CoordinateCalculationControllerTest.cs
  ControlRoomApplication/ControlRoomApplicationTest/EntityControllersTests/RadioTelescopeControllerTest.cs
Labels: Entities, bug, enhancement

#114 Override integration
  ControlRoomApplication/ControlRoomApplication/ControlRoomApplication.csproj
  ControlRoomApplication/ControlRoomApplication/Controllers/BlkHeadUcontroler/AbstractMicrocontroller.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/ControlRoomController/ControlRoomController.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/ControlRoomController/RadioTelescopeControllerManagementThread.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/AbstractPLCDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/ProductionPLCDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/ScaleModelPLCDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/PLCCommunication/PLCDrivers/SimulationPLCDriver.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/RadioTelescopeControllers/RadioTelescopeController.cs
  ControlRoomApplication/ControlRoomApplication/Controllers/Sensors/OverrideSwitchData.cs
  ControlRoomApplication/ControlRoomApplication/Entities/PLC/PLCCommandAndQueryTypeEnum.cs
  ControlRoomApplication/ControlRoomApplication/Entities/WeatherStation/WeatherStation.cs
  ControlRoomApplication/ControlRoomApplication/GUI/DiagnosticsForm.Designer.cs
  ControlRoomApplication/ControlRoomApplication/GUI/DiagnosticsForm.cs
  ControlRoomApplication/ControlRoomApplication/GUI/MainForm.cs
  ControlRoomApplication/ControlRoomApplicationTest/ControlRoomApplicationTest.csproj
  ControlRoomApplication/ControlRoomApplicationTest/EntityControllersTests/ControlRoomControllerTest.cs
  ControlRoomApplication/ControlRoomApplicationTest/EntityControllersTests/RadioTelescopeControllerTest.cs
Labels: Feature, Main Control Loop, Motor Controller Unit, PLC, Testing, enhancement
